/* Raleway Font */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/* hide scrollbar */

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

h1 {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: -10px
}

h4 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.login.page {
  background: #dfc2c1;
  background: -moz-linear-gradient(top, #dfc2c1 0%, #8ab0c4 100%);
  background: -webkit-gradient(linear, left top, left bottom,
              color-stop(0%, #dfc2c1),
              color-stop(100%, #8ab0c4));
  background: -webkit-linear-gradient(top, #dfc2c1 0%, #8ab0c4 100%);
  background: -o-linear-gradient(top, #dfc2c1 0%, #8ab0c4 100%);
  background: -ms-linear-gradient(top, #dfc2c1 0%, #8ab0c4 100%);
  background: linear-gradient(to bottom, #dfc2c1 0%, #8ab0c4 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfc2c1', endColorstr='#8ab0c4', GradientType=0);

  /*background: #8ab0c4;*/
  /*background: -moz-linear-gradient(top,  #8ab0c4 0%, #dfc2c1 100%);*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ab0c4), color-stop(100%,#dfc2c1));*/
  /*background: -webkit-linear-gradient(top,  #8ab0c4 0%,#dfc2c1 100%);*/
  /*background: -o-linear-gradient(top,  #8ab0c4 0%,#dfc2c1 100%);*/
  /*background: -ms-linear-gradient(top,  #8ab0c4 0%,#dfc2c1 100%);*/
  /*background: linear-gradient(to bottom,  #8ab0c4 0%,#dfc2c1 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab0c4', endColorstr='#dfc2c1',GradientType=0 );*/
}

.login.page .login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login.page .login-content > div {
  transform: translateY(-50%);
}

.login.page .form {
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 200;
}


/* Chat page */

.chat.page {
  display: none;
  overflow: hidden;
  background: rgb(138,176,196);
  background: -moz-linear-gradient(top,  rgba(138,176,196,1) 0%, rgba(197,215,229,1) 52%, rgba(255,255,255,1) 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,176,196,1)), color-stop(52%,rgba(197,215,229,1)), color-stop(99%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(138,176,196,1) 0%,rgba(197,215,229,1) 52%,rgba(255,255,255,1) 99%);
  background: -o-linear-gradient(top,  rgba(138,176,196,1) 0%,rgba(197,215,229,1) 52%,rgba(255,255,255,1) 99%);
  background: -ms-linear-gradient(top,  rgba(138,176,196,1) 0%,rgba(197,215,229,1) 52%,rgba(255,255,255,1) 99%);
  background: linear-gradient(to bottom,  rgba(138,176,196,1) 0%,rgba(197,215,229,1) 52%,rgba(255,255,255,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab0c4', endColorstr='#ffffff',GradientType=0 );
}

/*chat top and bottom, new classes for new divs to contain the chat area and the svgs*/
.chat-top {
  background-image: url('img/clouds_bottom2.svg');
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 20%;
  max-width: 1640px;
  position: absolute;
  top: 0;
}

.chat-bottom {
  background-image: url('img/skyline2.svg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 20%;
  max-width: 1640px;
  position: absolute;
  bottom: 0;
}

.landing-clouds {
  background-image: url('img/clouds_login_lrg.svg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 40%;
  max-width: 1640px;
  position: absolute;
  bottom: 0;
}

img {
  z-index: 0;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

/*the margin on this box is messed up*/
.messageBox {
  padding: 3px;
  margin: 10px;
  border: 1px solid black;
}
.messageBox input {
  width: 90%;
  margin-right: .5%;
  border: none;
}
.messageBox input:focus {
  outline: none;
}
.messageBox button {
  width: 9%;
  background: white;
  padding: 10px;
  border: 1px solid black;
}

.chatArea {
  height: 60%;
  z-index: 
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.message.typing .messageBody {
  color: gray;
}

.username {
/*  float: left;*/
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

